<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/83eb490527.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="menu">
      <div class="item">
        <span class="fas fa-tachometer-alt"></span>
        <p>Dashboard</p>
      </div>
      <div class="item">
        <span class="fas fa-user"></span>
        <p>Users</p>
      </div>
      <div class="item">
        <span class="fas fa-sitemap"></span>
        <p>Site</p>
      </div>
      <div class="item">
        <span class="fas fa-dollar-sign"></span>
        <p>Sales</p>
      </div>
      <div class="item">
        <span class="fas fa-envelope"></span>
        <p>Emails</p>
      </div>
      <div class="item">
        <span class="fas fa-cogs"></span>
        <p>Settings</p>
      </div>
    </div>
  </body>
</html>
